<section class="contact-info">
    <div class="container">
        <div class="col-lg-10 offset-lg-1">

            <div class="contact-info-container row">
                <div class="contact-info-item row">
                    <div class="contact-info-photo">
                        <img src="img/contact_1.png" alt="">
                    </div>
                    <div class="contact-info-content">
                        <div class="contact-info-title">Phone</div>
                        <div class="contact-info-text">+994 50 353 15 20</div>
                    </div>
                </div>
                <div class="contact-info-item row">
                    <div class="contact-info-photo">
                        <img src="img/contact_2.png" alt="">
                    </div>
                    <div class="contact-info-content">
                        <div class="contact-info-title">Email</div>
                        <div class="contact-info-text">manafov0817@gmail.com</div>
                    </div>
                </div>
                <div class="contact-info-item row">
                    <div class="contact-info-photo">
                        <img src="img/contact_3.png" alt="">
                    </div>
                    <div class="contact-info-content">
                        <div class="contact-info-title">Adress</div>
                        <div class="contact-info-text"> 7 Araz, Bakı 1029, Azerbaijan</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="contact-form-section">
    <div class="container">
        <div class="col-lg-10 offset-lg-1">

            <h1 class="contact-form-title">
                Get in touch
            </h1>
            <form action="" class="contact-form">
                <div class="contact-form-inputs">
                    <input type="text" placeholder="Your Name" required="required">
                    <input type="text" placeholder="Your Surname" required="required">
                    <input type="text" placeholder="Your Phone Number" required="required">
                </div>
                <textarea name="message" id="contact-form-message" cols="30" rows="4" placeholder="Message" required="required"></textarea>

                <button type="submit"> Send Message</button>

            </form>
        </div>

    </div>

</section>
