<section class="forgot_section">
    <div class="container">
        <div class="forgot_container mt-5">
            <div>
                <form action="@Url.Action("ForgotPassword","Account")" method="post">
                    <label for="digit_code">Enter your email adress or username <span>*</span></label>
                    <br>
                    <input class="filled" id="digit_code" type="text" name="Email" required="required">
                    <br>
                    <button type="submit" class="sendcode">Send Link</button>
                </form>
            </div>
        </div>
    </div>
</section>

