@model ResetPasswordModel
<section class="forgot_section">
    <div class="container">
        <div class="forgot_container mt-5">
            <div>
                <form action="@Url.Action("ResetPassword","Account")" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <label asp-for="Email">Enter your email<span>*</span></label>
                    <br>
                    <input asp-for="Email" class="filled" id="digit_code" required="required">
                    <br>

                    <label asp-for="Password">Enter your new password<span>*</span></label>
                    <br>
                    <input asp-for="Password" class="filled" id="digit_code" required="required">
                    <br>

                    <input type="hidden" asp-for="Token" />
                    <input type="hidden" asp-for="Email" />
                    <button type="submit" class="sendcode">Reset Pssword</button>
                </form>
            </div>
        </div>
    </div>
</section>

